.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 850px;
}

.popupContainer {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
}
.popupBlacker { 
  background: rgba(0,0,0,0.2); 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
}
.popup {
  position: absolute;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 100px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.popupText {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  color: #222;
}
.popupActions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.popupButton {
  cursor: pointer;
  border-color: #d6d6d6;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  background: none;
  font-family: 'Roboto', sans-serif;
  color: #555;
  height: 30px;
  background: #fbfbfb;
}
.popupButton {}